@model Course_Project_TP_6.Models.SNILS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>СНИЛС</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
             Номер
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SNILS_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
